<%- include('../Layout/UserHeader.ejs') %>

<main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> About
        </div>
      </div>
    </div>

    <section class="mt-50 mb-50">
        <div class="container mt-5">
            
            <div class=" text-center">
            <h2 class="text-center">About Us</h2>
            <br>
            <img src="/userassets/imgs/page/aboutUs.webp" alt="Image" class="img-fluid mx-auto">
            </div>
           <br>
           <h3 class="mt-4">Our Story</h3>
           <br>
           <p class="mb-4">Helmed by Preine and Prinston Pereira, a brother-sister duo, <strong>'GREW IT UP'</strong> was born out of passion for transforming homes,<br>
             offices and retail spaces alike through the versatility of planters.<br><br>
              We believe that a little bit of green can bring the much needed vibrance to the otherwise dull concrete jungles around us. <br>
              Our products celebrate effortless convergence of man with nature.<br><br>
            We love the option that planters give us. Not only are the planters beautiful but also aids in adding greenery to any environment.<br>
            Just throw in a couple of planters and notice how the place brightens up instantly.</p>
            <br>
            <div class="row mt-4 text-center">
              <div class="col-md-6">
                <img src="/userassets/imgs/page/aboutUs2.jpg" alt="Contact Image" class="img-fluid mx-auto">
              </div>
              
              <div class="col-md-6">
                <h3 class="mt-4">What we do?</h3>
                <br>
                <p class="mb-4">All our planters are designed in-house by our team of designers and manufactured by local artisans.<br>
                     We design functional and modern planters, stands etc. that boosts plant life within a space. <br>
                     <br>Our team of designers integrate plants and planters in spaces provided and our gardeners then set up the entire space.</p>
                     <br>

                     <h3 class="mt-4">Product and Materials</h3>
                     <br>
                     <p class="mb-4">We have a variety of materials at our disposal to create durable and effective products.<br>
                         <br>These materials can be broadly categorized into several groups, including composites, metals,<br>
                          and traditional materials like concrete and Banana fibre.<br>
                        <br>One popular composite material is FRP, which stands for Fibre Reinforced Polymers<br>
                        and GRC (Glass fibre-reinforced concrete )</p>
                        <br>

                        <h3 class="mt-4">Specialized Services</h3>
                        <br>
                        <p class="mb-4">We offer customization services to meet the specific needs and preferences of our customers.<br>
                         <br>If you have a specific design or style in mind that is not available in our current collection,<br>
                          we can work with you to create a custom planter that meets your requirements.<br>
                         <br> Please note that there may be additional costs associated with customizing your planter.</p>
              </div>
            </div>
        </div> 
    </section>
</main>

<%- include('../Layout/UserFooter.ejs') %>