<%- include('../layout/userHeader.ejs') %>

<main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> Contact
        </div>
      </div>
    </div>

    <section class="mt-50 mb-50">
        <div class="container mt-5">
            
            <div class=" text-center">
            <h2 class="text-center">Contact Us</h2>
            <br>
            <img src="/userassets/imgs/page/contactPage.jpg" alt="Contact Image" class="img-fluid mx-auto" style="max-width: 1250px; height: 400px;">
            </div>
           <br>
            <div class="row mt-4">
              <div class="col-md-6">
                <p><strong>We would love to hear from you.</strong></p>
                <p>If you’ve got great products you're making or looking to work with us,
                     <br>then drop us a line.</p>
                
                <form>
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="4" placeholder="Your message"></textarea>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="saveInfo">
                    <label class="form-check-label" for="saveInfo">Save my name, email, and website in this browser for the next time I comment.</label>
                  </div>
                  <button type="submit" class="btn btn-primary mt-3">Submit Now</button>
                </form>
              </div>
              
              <div class="col-md-6 text-center">
                <p><strong>Address</strong></p>
                <p>742, 7th Cross Rd, 3rd Block Koramangala,<br> Vyttila, Fort Kochi 560034</p>
                <br>
                <p><strong>Information</strong></p>
                <p>+917204326653</p>
                <br>
                <p><strong>Email</strong></p>
                <p>info@grewItUp.co.in</p>
                <br>
                <!-- <p>Social Media</p> -->
                <!-- Add your social media icons/links here -->
                
                <p><strong>We're open</strong></p>
                <p>Our store is open for shopping.</p>
                <p>Every day 10:00 am to 8:00 pm</p>
              </div>
            </div>
        </div> 
    </section>
</main>
  
<%- include('../layout/userFooter.ejs') %>

